body{
    
}
h1{
    color: gold;
}
#words{
    color: black;
    background: gold;
    align-content: center;
    float: left;
}
#message{
    color: black;
    font-size: 4em;
    text-align: center;
}

